.block{
	max-width: 300px;
	margin-left: 35%;
}

.center{
	margin-top: 10%;
}

.size1{
	width: 50px;
	height:100px;
}

.size2{
	width: 50px;
	height:100px;
}

.imglogo{
	height:200px;
	width:200px;
	margin-left: 100px;
}

.checkbox-answer{
	margin-left: 10%;
}