.text-center{
	text-align: center;
}

.text-down{
	margin-top: 15px;
}

.authentification{
	font-size: 15px;
	margin-top: 5px;
}

.btn-down{
	margin-top: 15px;
}

.center{
	margin-top: 10%;
}

.margin-button{
	margin-top: 30px;
}

.error {
	color: red;
}